<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Function Plotter</span>
</div>

<div class="content" role="main">
  
  <div class="step">
    <div class="stepHeader">
      <span>Enter equation to be plotted</span>
    </div>
    <div class="stepForm">
      <input 
        placeholder="e.g. x^2 + 2x + 1" 
        class="form-control" 
        required
        [(ngModel)]="equation">
      <div [hidden]="!this.notValidExp" class="alert alert-danger">
        Not valid expression
      </div>
      <div [hidden]="!this.notValidVar" class="alert alert-danger">
        Not supported variable name. eg. x
      </div>
      <input 
        placeholder="x min"
        class="form-control param" 
        required
        [(ngModel)]="xmin" >
      <input 
        placeholder="x max" 
        class="form-control param" 
        required
        [(ngModel)]="xmax" >
      <div [hidden]="!this.notValidParam" class="alert alert-danger">
        Not valid x range
      </div>
      <button
        class="btn primary" 
        (click)="onSubmit()"
        >
        Plot
      </button>
      <div id="graph"></div>   
    </div>
  </div>
</div>


